<div id="login" >

    <div id="login-form-wrapper" >
  
        <div id="login-form" >

            <div class="title">LOGIN TO YOUR ACCOUNT</div>
  
            <form name="loginForm" [formGroup]="loginForm" novalidate>
  
                <mat-form-field>
                    <input matInput placeholder="Username" formControlName="username">
                    <mat-error *ngIf="loginForm.get('username').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('username').hasError('required') &&
                                loginForm.get('username').hasError('username')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
  
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password">
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>
  
                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <!-- <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Remember Me
                    </mat-checkbox> -->
  
                    <!-- <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
                        Forgot Password?
                    </a> -->
                </div>
  
                <button mat-raised-button color="primary" class="submit-button" aria-label="LOG IN"
                        [disabled]="loginForm.invalid" (click)="login()">
                    LOGIN
                </button>
  
            </form>
<!--   
            <div class="separator">
                <span class="text">OR</span>
            </div> -->
  
<!--             
  
            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/pages/auth/register'">Create an account</a>
            </div> -->
  
        </div>
  
    </div>
  
  </div>