<div>
  <h1>Edit Survey.</h1>
  <div>
    <div class="flex-container">
      <div style="flex-grow: 8">
        <mat-form-field style="width: 70%;" >
          <input matInput [(ngModel)]="survey.title" placeholder="title">
        </mat-form-field>
      </div>
    </div>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" [(ngModel)]="startDate" placeholder="Choose a start date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    &nbsp;
    <mat-form-field>    
        <input matInput [matDatepicker]="endpicker" placeholder="Choose a end date" [(ngModel)]="endDate">
        <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
        <mat-datepicker #endpicker></mat-datepicker>
    </mat-form-field>

    <div>
        <mat-list role="list">
         <h4> Question ID</h4>
          <mat-list-item role="listitem" *ngFor="let question of survey.questionID;let i = index">
            {{i+1}}. {{question}}
            &nbsp;
            <!-- <button mat-icon-button [disabled]="survey.questionID.length<=1" color="warn" (click)="deleteQuestion(i)" matTooltip="Delete this question."><mat-icon>close</mat-icon></button> -->
          </mat-list-item>
          
        </mat-list>
    </div>

    
    <div class="flex-container-right">
        <button mat-raised-button color="warn" (click)="onCancel()" matTooltip="close.">Close</button>
        &nbsp;
        
        &nbsp;
        <button mat-raised-button (click)="submit()" color="primary" matTooltip="Update this survey.">Update</button>
      </div>
    
  </div>
</div>