.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .mat-drawer {
      padding-left: 20px;
      padding-left: 20px;
      min-width: 200px;

    .sidenav-content{
      .mat-button{
        display: block;
        width:100%;
        text-align: left;
      }
    }
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  $color_1: white;

mat-toolbar {
	a {
		display: inline-block;
		margin: 0 10px;
		color: $color_1;
		text-decoration: none;
	}
}
 