<mat-drawer-container class="container" autosize>
  <!-- <mat-drawer #drawer class="sidenav" mode="side" style="background-color:darkgray">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <mat-nav-list>
        <a mat-list-item routerLink="/question" color="primary">Questionary</a>
        <a mat-list-item routerLink="/survey" color="primary">Survey</a>
      </mat-nav-list>
 
  </mat-drawer> -->


  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
          <!-- <button mat-icon-button (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
          </button> -->
          <a routerLink="/">HR Application</a> 
        <!-- <a routerLink="/question">Questionary</a> -->
        <!-- <a routerLink="/survey">Survey</a> -->
          
        <!-- Quesion menu -->
        <button mat-button [matMenuTriggerFor]="menuQuestion">Question</button>

        <mat-menu #menuQuestion ="matMenu">
            <button mat-menu-item routerLink="/question-list">Question List</button>
            <button mat-menu-item routerLink="/question">Add Questions</button>
          </mat-menu>

          <!-- Survey Menu -->
        <button mat-button [matMenuTriggerFor]="menuSurvey">Survey</button>

        <mat-menu #menuSurvey ="matMenu">
            <button mat-menu-item routerLink="/survey-list">Survey List</button>
            <button mat-menu-item routerLink="/survey">Make Survey</button>
          </mat-menu>

          <span class="spacer"></span>
          <!-- can write username to see it on top right  -->
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet>
      
    </router-outlet>
  </div>
</mat-drawer-container>



