<div disabled="true">
<div>
    <mat-form-field style="width: 25%">
        <input matInput placeholder="Survey Title" [(ngModel)]="survey.title" required>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
    
        <input matInput [matDatepicker]="picker" [(ngModel)]="startDate" placeholder="Choose a start date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
            
        <input matInput [matDatepicker]="endpicker" placeholder="Choose a end date" [(ngModel)]="endDate">
        <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
        <mat-datepicker #endpicker></mat-datepicker>
    </mat-form-field>
</div>
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
<div class="example-container"  [class.mat-elevation-z8]="isActive" >
    <div class="example-full-width" >
        <div cdkDrag cdkDragLockAxis="y" *ngFor="let question of surveyQuestions; let i=index" [class.mat-elevation-z4]="isActive" style="margin: 20px 20px">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h4> Question {{i+1}}. {{question.question}}</h4>
                        </mat-panel-title>
                        <mat-panel-description class="flex-container">
                            <h4> Type: {{question.selected_type}} </h4>
                            &nbsp;
                            &nbsp;&nbsp;
                            &nbsp;
                            <h4>Required: {{question.is_required}}</h4>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- textbox -->
                    <div *ngIf="question.selected_type == 'textarea'" style="text-align:left;padding-left: 20px;" >
                        <mat-form-field class="example-full-width-input">
                            <input matInput  disabled="true" placeholder="Text Area" >
                        </mat-form-field>
                    </div>

                    <!-- multiple choice -->
                    <div *ngIf="question.selected_type == 'multi_choice'" style="text-align:left;padding-left: 20px;" >
                        <div *ngFor="let option of question.options">
                            <mat-checkbox disabled="true">
                                    {{option.option}}
                            </mat-checkbox>
                            
                        </div>
                    </div>
                    <!-- radio_button -->
                    <div *ngIf="question.selected_type == 'radio_button'" style="text-align:left;padding-left: 20px;" >
                        <div *ngFor="let option of question.options">
                            <mat-radio-group>
                                <mat-radio-button disabled="true">
                                    {{option.option}}
                                </mat-radio-button>
                            </mat-radio-group>
                            
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            </div>
            <div class="flex-container">
                <button routerLink="/" mat-stroked-button [disabled]="!survey.title" color="primary" (click)="postSurvey()">Submit</button>
            </div>
        </div>
        
    </div>
</div>
</div>